/* .popularPost .box { */
  .popularPost .box {
    /* background-color:; */
    display: flex;
    /* #18  copy*/
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
    position: relative;
    margin: 15px 15px 15px 0;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .popularPost .images {
    position: relative;
    /* bottom: px; */
    height: 170px;
  }
  .popularPost img {
    width: 200%;
    height: 300px;
    object-fit: cover;
  }
  .popularPost .text  {
    padding: 20px 0 0 20px;
    margin: 0;
    /* background-color: rgba(14, 13, 13, 0.361); */
    color: white ;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap; 
     text-overflow: ellipsis;
  }
  .popularPost .date {
    margin-top: 15px;
    padding: 0 0 0 20px;
  }
  
  .popularPost .comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0 0 20px;
    margin-top: 5px;
  }
  .img1{
    background-color: brown;
  }
  
   